<%- include('./includes/header.ejs') %>
</head>
<% if(!result){ %>

<%- include('./includes/navigation.ejs') %>
<% } %>
<header class="masthead text-white text-center" style="padding-top: <%= result ? '20px' : 'calc(6rem+20px)' %> ">
  <% if(!result){ %>
  <div class="container">
    <form id="contactForm" action="/get-answers" method="POST">
      <div class="form-floating mb-3">
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">
          Input base64
        </h3>
        <input class="form-control" type="text" name="input" value="https://c3longthanh.edu.vn/">
      </div>
      <button class=" btn btn-primary btn-xl" id="submitButton" type="submit">Get</button>
    </form>


    <% }else{ %>
    <div class="input-group mb-3" style="padding-left: 10%; padding-right: 10%;">
      <input id="search" type=" text" class="form-control" placeholder="Search...">
      <button>Clear</button>
    </div>
    <div id="defaultqa">
      <% result.forEach((q,i)=> { %>
      <div id="qa">
        <div class=" container" id="q">
          <h2 class="" style="text-align:left;color: darkcyan;">
            Câu <%= i+1%>. <%= q.question%>
          </h2>
        </div>

        <div class="container" style="margin-bottom: 50px;" id="a">
          <% q.answers.forEach((a,i)=> { %>
          <h3 class="<%= i === q.correct ? `text-correct` : 'text-body'%>" style="text-align:left; text-indent: 50px; font-weight: normal">
            <%= a %>
          </h3>
          <% }) %>
        </div>
      </div>
      <% }) %>
    </div>

    <% } %>


  </div>
</header>
<% if(result){ %>
<script src="/js/search.js"> </script>
<% }%>
<% if(!result){ %>

<%- include('./includes/footer.ejs') %>\
<% }%>