<%- include('./includes/header.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<% if(!result){ %>

<%- include('./includes/navigation.ejs') %>
<% } %>
  <% if(!result){ %>
  <div class="container" >
    <form id="contactForm" action="/get-answers" method="POST">
      <div class="form-floating mb-3">
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">
          Input base64
        </h3>
        <input class="form-control" type="text" name="input" value="https://c3longthanh.edu.vn/">
      </div>
      <button class=" btn btn-primary btn-xl" id="submitButton" type="submit">Get</button>
    </form>


    <% }else{ %>
      <div  style="background-color: white;">

        <div class="input-group mb-3 pt-4" style="padding-left: 10%; padding-right: 10%;">
          <input id="search" type=" text" class="form-control" placeholder="Search..." class="form-control">
          <button class="btn clear-btn" style="background-color: #008B8B; color: white;" id="clear-btn" type="button">Clear</button>
        </div>
        <div id="defaultqa">
          <% result.forEach((q,i)=> { %>
          <div id="qa">
            <div class=" container" id="q">
              <h2 class="fs-3 " style="text-align:left;color: #077a7a;font-weight: 500;">
                Câu <%= i+1%>. <%= q.question%>
              </h2>
            </div>
    
            <div class="container mb-3" id="a">
              <% q.answers.forEach((a,i)=> { %>
              <h3 class="<%= i === q.correct ? `text-correct` : ''%>" style="color: #000000;text-align:left; text-indent: 50px; font-weight: normal">
                <%= a %>
              </h3>
              <% }) %>
            </div>
          </div>
          <% }) %>
        </div>
    
        <% } %>
      </div>


  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<% if(result){ %>
<script src="/js/search.js"> </script>
<% }%>
<% if(!result){ %>

<%- include('./includes/footer.ejs') %>\
<% }%>